<div class="breakdown-result">
  <div class="period-label">
    <span x-text="msg.data.period.start"></span> 〜 <span x-text="msg.data.period.end"></span>
  </div>
  <div class="table-container">
    <table class="cost-table">
      <thead>
        <tr>
          <th>#</th>
          <th x-text="$store.i18n.t('service_column')"></th>
          <th x-text="$store.i18n.t('amount_column')"></th>
          <th x-text="$store.i18n.t('percentage_column')"></th>
        </tr>
      </thead>
      <tbody>
        <template x-for="item in msg.data.items" :key="item.rank">
          <tr>
            <td x-text="item.rank"></td>
            <td x-text="item.service"></td>
            <td class="amount" x-text="TableUtils.formatCurrency(item.amount, msg.data.currency)"></td>
            <td x-text="TableUtils.formatPercentage(item.percentage)"></td>
          </tr>
        </template>
      </tbody>
      <tfoot>
        <tr class="total-row">
          <td></td>
          <td x-text="$store.i18n.t('total_label')"></td>
          <td class="amount" x-text="TableUtils.formatCurrency(msg.data.total, msg.data.currency)"></td>
          <td>100%</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
