<div class="comparison-result">
  <div class="period-label">
    <span x-text="msg.data.previous_period.start"></span> 〜 <span x-text="msg.data.previous_period.end"></span>
    vs
    <span x-text="msg.data.current_period.start"></span> 〜 <span x-text="msg.data.current_period.end"></span>
  </div>
  <div class="table-container">
    <table class="cost-table comparison-table">
      <thead>
        <tr>
          <th x-text="$store.i18n.t('service_column')"></th>
          <th x-text="$store.i18n.t('prev_period')"></th>
          <th x-text="$store.i18n.t('current_period')"></th>
          <th x-text="$store.i18n.t('change_column')"></th>
          <th x-text="$store.i18n.t('change_rate_column')"></th>
        </tr>
      </thead>
      <tbody>
        <template x-for="item in msg.data.items" :key="item.service">
          <tr>
            <td x-text="item.service"></td>
            <td class="amount" x-text="TableUtils.formatCurrency(item.previous_amount, msg.data.currency)"></td>
            <td class="amount" x-text="TableUtils.formatCurrency(item.current_amount, msg.data.currency)"></td>
            <td class="amount" x-bind:class="TableUtils.changeClass(item.absolute_change)"
                x-text="TableUtils.formatChange(item.absolute_change, msg.data.currency)"></td>
            <td x-bind:class="TableUtils.changeClass(item.absolute_change)"
                x-text="TableUtils.formatChangePercent(item.percent_change)"></td>
          </tr>
        </template>
      </tbody>
      <tfoot>
        <tr class="total-row">
          <td x-text="$store.i18n.t('total_label')"></td>
          <td class="amount" x-text="TableUtils.formatCurrency(msg.data.previous_period_total || 0, msg.data.currency)"></td>
          <td class="amount" x-text="TableUtils.formatCurrency(msg.data.current_period_total || 0, msg.data.currency)"></td>
          <td class="amount" x-bind:class="TableUtils.changeClass(msg.data.total_change)"
              x-text="TableUtils.formatChange(msg.data.total_change, msg.data.currency)"></td>
          <td x-bind:class="TableUtils.changeClass(msg.data.total_change)"
              x-text="TableUtils.formatChangePercent(msg.data.total_change_percent)"></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="trend-summary" x-show="msg.data.summary">
    <h4 x-text="$store.i18n.t('trend_summary_title')"></h4>
    <p x-text="msg.data.summary"></p>
  </div>
</div>
